@import url(/css/normalize.css); /*여백을 없애줌*/
@import url(./reset.css);
@import url(./fonts.css);
@import url(./fontello.css);

/* 숨김 콘텐츠 */
.sr-only, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
}


/* 하이퍼링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}
/* 기본 박스사이징 변경(default box-sizing) */
*,*::before,*::after{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
background: url(./images/bg_flower.png) no-repeat 50% 0,
            #ccc linear-gradient(to bottom,#aaa,#fff);
color:#111;
font-size: 1.4rem;
font-weight:400;
font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background:#fff;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 로고 */
.logo{
  position: absolute;
  left: 65px;
  top:45px;
}

/* 멤버 서비스 */
.member-service{
  /* background: purple; */
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; */
  padding: 4px 0;
  text-align: right;
}

.member-service li{
  /* background: orangered; */
  display: inline-block;
}

.member-service span{
  display: inline-block;
  padding: 0 5px 0 2px;
}

.member-service a{
  /* background: green; */
  display: inline-block;
  padding: 6px 0;
  text-transform: uppercase;
}

/* 메임 메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu{
  background: orange;
  display: flow-root;
  height:47px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  padding-left: 225px;
}

/* .menu::after{
  content: "";
  display: block;
  clear: both;
} */

.menu-button{
  border: 0;
  background: transparent;
  padding: 0;
  line-height: 45px;
  padding: 0 20px;
  font-size: 1.6rem;
  font-weight: 700;
  border-left: 2px solid #fff;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.is-active .menu-button{
color: #ff0;
}

.is-active .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.menu-item{
  position: relative;
  float: left;
}

.sub-menu{
  position: absolute;
  display: none;
  top: 47px;
  white-space: nowrap;
}

.menu-html{
  display: block;
}

.sub-menu li{
  display: inline-block;
}

/* 아이콘 적용 방법 - fontello.css가서 복사 */

.sub-menu a::before{
  content: "\f192";
  font-family: 'fontello';
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before, .sub-menu a:focus::before {
  content: '\e800';
}

.sub-menu a {
  display: inline-block;
  padding: 6px 4px;
}

.sub-menu a:hover, .sub-menu:focus{
  color: red;
}

.menu-item:nth-child(-n+3) .sub-menu{
  left: 0;
}

.menu-item:nth-child(n+4) .sub-menu{
  right:0
}



/* 비주얼 에니메이션 주기*/

@keyframes moveEffect{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
    /*margin/padding: 0; */
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
    /*margin/padding: 75px 0 0 400px; */
  }
}

@keyframes fadeEffect{
  0%{ opacity: 1;}
  100%{opacity: 0;}
}

.visual{
  height: 120px;
  position: relative;
}

.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: moveEffect;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  /* background: rgb(199, 230, 77); */
  position: absolute;
  z-index: 10;
}

.visual::before, .visual::after{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation-name: fadeEffect;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.visual::before{
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png) ;
  background-position: 0 -10px, 600px 0;
}

.visual::after{
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png) ;
  background-position: 300px -10px, 800px 0;
  animation-delay: 1000ms;
}


/* 메인 콘텐츠 */
.main{
  background: #fff;
  border-radius: 15px 15px 0 0;
  min-height: 400px;
  display: flex;
  /* flex-flow : direction,wrap; (속기법) */
  flex-flow: row nowrap;
  /* justify-content: space-between;
     padding: 30px; */
  justify-content: space-around;
  padding: 30px 15px;
}

.group1{
  width: 250px;
}

.group2{
  width: 380px;
}

.group3{
  width: 190px;
}

/* 로그인 */
.login{
  border-radius: 5px;
  padding: 10px;
  background-image: radial-gradient(circle at right top, orange, orangered);
  box-shadow: 5px 5px 0 0 #ccc;
}

.login-title{
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px;  /*블록일때만 쓸수 있음.*/
}

.login-form{
  background: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset{
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}

.login-form div{
  margin-bottom: 5px;
}

.login-form label{
  display: inline-block;
  width: 4em;
}

.login-form input{
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 2px 2px 2px 0.5em;
}

.login-button{
  position: absolute;
  top:0;
  right: 0;
  width: 50px;
  height: 50px;
  background: orangered;
  color: #fff;
  font-size: 1.3rem;
  padding: 0 5px;
  border: 0;
  border-radius: 5px;
}

.sign{
  background: #fff;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  letter-spacing: -0.1em;
}

.sign a{
  display: block;
  padding: 6px 0;
}

.sign .icon-right-open::before{
  color:coral ;
}

/* 유효성 검사 배너 */
.validation{
  margin-top: 25px;
}

/* .validation-list{
  background: #ff0;
} */

.validation-list li{
  /* background: pink; */
  margin-top: 10px;
}

.validation-list a{
  /* background: skyblue; */
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  text-indent: 45px;
  background: url(./images/validation_icon.png) no-repeat 15px 50%,
              linear-gradient(to bottom,#ccc,#fff);
  /* padding: 8px; */
  line-height: 30px;
}

/* 웹관련 용어 */

.term{
  background:linear-gradient(to bottom, #ccc,#eee);
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;  
}

.term-title{
  font-weight: 700;
  font-size: 1.5rem;
}

.term-list{
  margin-top: 15px;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;

}

.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}

.term-list-subject{
color: #296897;
margin-bottom: 5px;
font-weight: 500;
}

.term-list-thumbnail{
float: left;
}

.term-list-brief{
line-height: 1.5;
}

/* 검색 폼 */
.search-wrap{
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  padding: 15px 20px 15px;
  border-bottom-color:#fff ;
  display: flex;
  flex-flow: row nowrap;
}

.search-keyword {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.search-keyword label{
  white-space: nowrap;
}

.search-keyword input{
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 2px 2px 2px 10px;
  flex-grow: 1;
  margin: 0 15px;
}

.search-button{
  background: #000;
  color: #fff;
  font-size: 1.3rem;
  padding: 2px 10px;
  height: 24px;
  border: 0;
  border-radius: 3px;
  white-space: nowrap;
}

/* 공지사항 자료실 */
.board{
  margin-top: 20px;
  position: relative;
  padding-top: 45px;
}

.board-panel, .board-more{
  display: none;
}

.is-active .board-panel, .is-active .board-more{
  display: block;
}

.board-tab{
  position: absolute;
  top:0;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc;
  color:#666;
  padding: 5px 15px;
}

.is-active .board-tab{
  color:orangered;
  /* border-color:orangered orangered #fff orangered; */
  border-color: currentColor currentColor #fff currentColor;
  background: #fff;
  z-index: 10;
}

.notice-tab{
  left: 0;
}

.archive-tab{
  left: 82px;
}

.board-panel li{
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

.board-panel a{
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.more::before{
  color: hsla(110,50%,30%,1);
}

/* 새소식 */
.news{
  /* background: #ff0; */
  margin-top: 20px;
  position: relative;
}

.news::before{ 
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #aaa, #fff);
}

.news-title{
  color:orangered;
  font-weight: 700;
  font-size: 1.5rem;
}

.news-link{
  display: block;
}

.news-item{
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
}

.news-item-subject{ 
  font-weight: 700;
}

.news-item-brief{
  
  margin-bottom: 10px;
  line-height: 1.5;

}

.news-item-thumbnail{

  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img{
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.3);
  margin-bottom: 15px;
}

.news-more{
  position: absolute;
  /* 클릭하는 곳을 넓혀줌 */
  top:-8px;
  right: -8px;
  padding: 8px;
}

/*공통 스타일 (클래스 모듈)  */
.gradient-effect{
  background: linear-gradient(to bottom,#ccc,#eee);
  border: 1px solid #aaa;
  border-radius: 5px;
}

.spacing-default{
  padding: 10px;
}

.accent-color{
  color:#ed552f;
}

.shadow-effect{
  box-shadow: 5px 5px 0 0 #999;
  border: 1px solid #aaa;
  display: inline-block;
}

/* 신규 이벤트와 관련 사이트 */

.event-title,.related-title{
  font-size: 1.5rem;
  font-weight: 700;
}

.event{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.event-buttons{
  height: 18px;
  overflow: hidden;
}

/* 클래스 우선순위 고려 */
/* padding-top은 글자 밀어내기 */
/*.event-buttons button{
  border: 0;
  padding-top: 18px; 
  background: url(./images/back_forward.png) no-repeat 0 0;
  width: 19px;
}*/

.event-button-previous, .event-button-next{
  border: 0;
  padding-top: 18px; /*배경 이미지만 남기고 글자 밀어내기*/
  background: url(./images/back_forward.png) no-repeat 0 0;
  width: 19px;
}

/* 이미지에 주어진 길이 만큼 이동 */
.event-button-next{
  background-position: -36px 0; 
}

.event-detail{
  width: 100%;
  margin: 10px 0;
}

.event-brief{
  margin-top: 10px;
  line-height: 1.5;
}

.related{
  padding-top: 10px;
  border-top: 1px solid #aaa;
}

.related-list{
  background: #fff;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  transition: height 200ms, padding-top 200ms, padding-bottom 200ms;
}

.related-list:hover, .related-list:focus{
  height: 147px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.related-list a{
  display: block;
  line-height: 25px;
  text-indent: 25px;
}

/* 인기 사이트 */

.favorite{
  margin-top:20px;
  position: relative;
}

.favorite-title{
  font-size: 1.5rem;
  font-weight: 700;
}

.favorite-list{
  margin-top: 10px;
  list-style-type: none;
  /*overflow:hidden*/
}

.favorite-list li{
  counter-increment: number;
  margin-top: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.favorite-list li::before{
  content: counter(number);
  background: #aaa;
  border-radius: 2px;
  color: #fff;
  padding: 2px 5px;
  margin-right: 8px;
  font-size: 1.2rem;
}



/* .favorite-list em{
  position: absolute;
  right: 0;
  width: 11px;
  height: 11px;
  background: url(./images/rank.png) no-repeat;
} */
.up,.stop,.down{
  width: 11px;
  height: 11px;
  background: url(./images/rank.png) no-repeat 0 0;
  margin-left: auto;
}

.stop{
  background-position: 0 50%;
}

.down{
  background-position: 0 100%;
}



.favorite-more{
  position: absolute;
  top: 10px;
  right: 10px;
}



/* 슬로건 */
.slogan{
  background: coral;
  height: 10vh;
}
/* 푸터 */
.footer{
  background:#ccc linear-gradient(to bottom,#aaa,#fff);
}

.footer-inner{
  background: skyblue;
  height: 10vh;
}
